# **DS 6001: Lab Assignment 3**
## Randa Ampah

In [1]:
import numpy as np
import pandas as pd
import requests
import json

## *Problem 1*

CSV files take up less memory usually because the variable values are separated only by commas, rather than formatted in nested lists and dictionaries as JSON files are. A JSON file could possibly take less memory than a CSV if the data being stored was made up heavily of nested values.

## *Problem 2*

### Part A

In [2]:
#"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) 
# AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"

The `Macintosh; Intel Mac OS X 10_15_7` part of the user agent identifies the operating system of my computer, which is MacOS. The `Chrome/137.0.0.0 Safari/` part identitfies my web browser which is Chrome

### Part B

In [3]:
user_url =  requests.get('https://httpbin.org/user-agent')
user_url.json()

{'user-agent': 'python-requests/2.32.5'}

### Part C

In [4]:
useragent = user_url.json()['user-agent']
myheaders = {"User-Agent": useragent }

### Part D

We chose to look at the robot.txt file for Amazon. The disallowed user agent we chose was `/gp/customer-reviews/write-a-review.html`. We believe that this user agent may have been banned to prevent people from creating fake reviews for products in order to protect the integrity of the review system on the website.

## *Problem 3*

### Part A

In [5]:
nba_raw = requests.get('https://stats.nba.com/js/data/sportvu/2015/shootingTeamData.json', 
                       headers=myheaders)

#nba_raw.json()

### Part B

The path to the team by team data is resultsSets, O, rowSet.

### Part C

In [6]:
nba = pd.json_normalize(nba_raw.json()['resultSets'][0], record_path=['rowSet'])
nba.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,1610612744,Golden State,Warriors,GSW,,82,48.7,114.9,14.9,0.498,...,0.478,21.2,42.5,0.497,2.3,6.3,0.363,10.8,25.3,0.429
1,1610612759,San Antonio,Spurs,SAS,,82,48.3,103.5,14.8,0.481,...,0.506,18.3,39.8,0.460,0.9,2.6,0.341,6.1,15.9,0.381
2,1610612739,Cleveland,Cavaliers,CLE,,82,48.7,104.3,16.9,0.481,...,0.473,18.2,40.7,0.447,1.7,5.7,0.299,9.0,23.9,0.378
3,1610612746,Los Angeles,Clippers,LAC,,82,48.6,104.5,15.0,0.497,...,0.480,18.9,42.0,0.450,2.0,6.0,0.334,7.7,20.8,0.373
4,1610612760,Oklahoma City,Thunder,OKC,,82,48.6,110.2,16.1,0.480,...,0.497,17.5,38.7,0.451,1.6,5.1,0.321,6.6,18.6,0.356

### Part D

The file path to the headers is resultSets, 0, headers.

In [7]:
cols = nba_raw.json()['resultSets'][0]['headers']
nba.columns = cols

### Part E

In [8]:
nba.to_json('/Users/randap/Desktop/MSDS/Fall25/DS6001/labs/nba.json', orient="records")

## *Problem 4*

In [9]:
date = '2025-09-11'
url = f'https://api.nasa.gov/neo/rest/v1/feed?start_date={date}&end_date={date}&api_key=DEMO_KEY'
url

'https://api.nasa.gov/neo/rest/v1/feed?start_date=2025-09-11&end_date=2025-09-11&api_key=DEMO_KEY'

In [10]:
nasa_raw = requests.get('https://api.nasa.gov/neo/rest/v1/feed?start_date=2025-09-11&end_date=2025-09-11&api_key=DEMO_KEY',
                        headers=myheaders)
nasa_json = json.loads(nasa_raw.text)
nasa = pd.json_normalize(nasa_json, record_path=['near_earth_objects',date])

In [11]:
nasa.head()

,id,neo_reference_id,name,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,links.self,estimated_diameter.kilometers.estimated_diameter_min,estimated_diameter.kilometers.estimated_diameter_max,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,estimated_diameter.miles.estimated_diameter_min,estimated_diameter.miles.estimated_diameter_max,estimated_diameter.feet.estimated_diameter_min,estimated_diameter.feet.estimated_diameter_max
0,3451790,3451790,(2009 FF),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,21.80,True,"[{'close_approach_date': '2025-09-11', 'close_...",False,http://api.nasa.gov/neo/rest/v1/neo/3451790?ap...,0.116026,0.259442,116.025908,259.441818,0.072095,0.161210,380.662441,851.187094
1,3684637,3684637,(2014 QY363),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,21.60,False,"[{'close_approach_date': '2025-09-11', 'close_...",False,http://api.nasa.gov/neo/rest/v1/neo/3684637?ap...,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,933.308089
2,3788903,3788903,(2017 VD),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,20.87,True,"[{'close_approach_date': '2025-09-11', 'close_...",False,http://api.nasa.gov/neo/rest/v1/neo/3788903?ap...,0.178055,0.398144,178.055329,398.143820,0.110638,0.247395,584.171046,1306.246170
3,3991699,3991699,(2020 DX1),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,26.50,False,"[{'close_approach_date': '2025-09-11', 'close_...",False,http://api.nasa.gov/neo/rest/v1/neo/3991699?ap...,0.013322,0.029788,13.321557,29.787906,0.008278,0.018509,43.705896,97.729354
4,54053846,54053846,(2020 RR2),https://ssd.jpl.nasa.gov/tools/sbdb_lookup.htm...,24.90,False,"[{'close_approach_date': '2025-09-11', 'close_...",False,http://api.nasa.gov/neo/rest/v1/neo/54053846?a...,0.027833,0.062236,27.832677,62.235757,0.017294,0.038671,91.314559,204.185562

## *Problem 5*

In [16]:
reddit_raw = requests.get('http://www.reddit.com/r/popular/top.json',
                          headers=myheaders)
reddit_json = json.loads(reddit_raw.text)

In [13]:
#reddit_json

In [17]:
top25 = reddit_json['data']['children']

reddit = pd.DataFrame(
    [t['data']['subreddit'], t['data']['title'],
      t['data']['ups'], t['data']['created_utc']] for t in top25
)
reddit.columns = ['subreddit', 'title', 'ups', 'created_utc']
reddit.head()

,subreddit,title,ups,created_utc
0,pics,Shooting at a Colorado school (More important ...,147241,1.757540e+09
1,BlackPeopleTwitter,Obituary of a hateful douche,130045,1.757541e+09
2,AskReddit,Why do you think President Trump ordered all U...,103867,1.757544e+09
3,pics,Charlie Kirk has just been shot,96519,1.757533e+09
4,agedlikemilk,"Charlie Kirk says gun deaths ""unfortunately"" w...",94856,1.757531e+09