# **DS 6001: Lab Assignment 9**
## **Randa Ampah**

## **Problem 0**

In [5]:
import numpy as np
import pandas as pd
import requests
import os
import io
import zipfile
import warnings
warnings.filterwarnings('ignore')

In [6]:
url = 'https://databank.worldbank.org/data/download/ESG_CSV.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [7]:
url = 'https://v-dem.net/media/datasets/V-Dem-CY-FullOthers-v15_csv.zip'
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [8]:
vdem = pd.read_csv('V-Dem-CY-Full+Others-v15.csv', low_memory=False)
wb = pd.read_csv('ESGCSV.csv')

## **Problem 1**

### **Part A**

In [9]:
vdem1 = vdem[['country_text_id','country_name','year','v2x_polyarchy','v2peedueq']]
vdem1.head()

  country_text_id country_name  year  v2x_polyarchy  v2peedueq
0             MEX       Mexico  1789          0.028        NaN
1             MEX       Mexico  1790          0.028        NaN
2             MEX       Mexico  1791          0.028        NaN
3             MEX       Mexico  1792          0.028        NaN
4             MEX       Mexico  1793          0.028        NaN

### **Part B**

In [10]:
vdems = vdem1.query("year >= 1960 and year <= 2023")
vdems.head()

    country_text_id country_name  year  v2x_polyarchy  v2peedueq
171             MEX       Mexico  1960          0.231     -1.445
172             MEX       Mexico  1961          0.232     -1.445
173             MEX       Mexico  1962          0.232     -1.445
174             MEX       Mexico  1963          0.232     -1.445
175             MEX       Mexico  1964          0.231     -1.445

### **Part C**

In [11]:
vdems = vdems.rename({'country_text_id':'country_code',
                      'country_name':'country_name_vdem',
                      'v2x_polyarchy':'democracy',
                      'v2peedueq':'educational_equality'}, axis=1)

vdems.head()

    country_code country_name_vdem  year  democracy  educational_equality
171          MEX            Mexico  1960      0.231                -1.445
172          MEX            Mexico  1961      0.232                -1.445
173          MEX            Mexico  1962      0.232                -1.445
174          MEX            Mexico  1963      0.232                -1.445
175          MEX            Mexico  1964      0.231                -1.445

### **Part D**

In [12]:
vdems = vdems.sort_values(by=['country_code','year'])
vdems

      country_code country_name_vdem  year  democracy  educational_equality
5491           AFG       Afghanistan  1960      0.082                -1.203
5492           AFG       Afghanistan  1961      0.083                -1.203
5493           AFG       Afghanistan  1962      0.083                -1.203
5494           AFG       Afghanistan  1963      0.086                -1.203
5495           AFG       Afghanistan  1964      0.139                -1.046
...            ...               ...   ...        ...                   ...
26508          ZZB          Zanzibar  2019      0.266                 1.479
26509          ZZB          Zanzibar  2020      0.271                 1.430
26510          ZZB          Zanzibar  2021      0.285                 1.756
26511          ZZB          Zanzibar  2022      0.294                 2.427
26512          ZZB          Zanzibar  2023      0.298                 1.534

[10729 rows x 5 columns]

## **Problem 2**

### **Part A**

In [13]:
years = [x for x in wb.columns if x.startswith(('19','20'))]
cats = ['Country Code','Country Name','Indicator Code']

In [14]:
wbs = wb[cats + years]
wbs.head()

,Country Code,Country Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ARB,Arab World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.082150,86.321160,86.491156,86.583767,86.523897,86.527129,86.503099,86.347769,86.449919,NaN
1,ARB,Arab World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.406777,88.661643,89.186171,90.351067,88.689841,89.928996,90.241777,90.434095,90.654518,91.64543
2,ARB,Arab World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.200009,6.245928,5.406433,6.465929,8.238448,7.278235,4.628360,NaN,NaN,NaN
3,ARB,Arab World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.078484,0.089821,0.087373,0.099548,0.054242,0.059945,0.071353,NaN,NaN,NaN
4,ARB,Arab World,AG.LND.AGRI.ZS,NaN,27.845967,27.83858,27.859229,27.863412,27.88415,27.88504,...,39.838000,39.870863,39.936386,39.985215,39.970860,39.907787,39.968729,39.967337,40.875467,NaN

### **Part B**

In [15]:
wbs = wbs.rename({'Country Code':'country_code',
                  'Country Name':'country_name_wb',
                  'Indicator Code':'feature'}, axis=1)
wbs.head()

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ARB,Arab World,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.082150,86.321160,86.491156,86.583767,86.523897,86.527129,86.503099,86.347769,86.449919,NaN
1,ARB,Arab World,EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.406777,88.661643,89.186171,90.351067,88.689841,89.928996,90.241777,90.434095,90.654518,91.64543
2,ARB,Arab World,NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.200009,6.245928,5.406433,6.465929,8.238448,7.278235,4.628360,NaN,NaN,NaN
3,ARB,Arab World,NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.078484,0.089821,0.087373,0.099548,0.054242,0.059945,0.071353,NaN,NaN,NaN
4,ARB,Arab World,AG.LND.AGRI.ZS,NaN,27.845967,27.83858,27.859229,27.863412,27.88415,27.88504,...,39.838000,39.870863,39.936386,39.985215,39.970860,39.907787,39.968729,39.967337,40.875467,NaN

### **Part C**

In [16]:
noncountries = ["Arab World", "Central Europe and the Baltics",
                "Caribbean small states",
                "East Asia & Pacific (excluding high income)",
                "Early-demographic dividend","East Asia & Pacific",
                "Europe & Central Asia (excluding high income)",
                "Europe & Central Asia", "Euro area",
                "European Union","Fragile and conflict affected situations",
                "High income",
                "Heavily indebted poor countries (HIPC)","IBRD only",
                "IDA & IBRD total",
                "IDA total","IDA blend","IDA only",
                "Latin America & Caribbean (excluding high income)",
                "Latin America & Caribbean",
                "Least developed countries: UN classification",
                "Low income","Lower middle income","Low & middle income",
                "Late-demographic dividend","Middle East & North Africa",
                "Middle income",
                "Middle East & North Africa (excluding high income)",
                "North America","OECD members",
                "Other small states","Pre-demographic dividend",
                "Pacific island small states",
                "Post-demographic dividend",
                "Sub-Saharan Africa (excluding high income)",
                "Sub-Saharan Africa",
                "Small states","East Asia & Pacific (IDA & IBRD)",
                "Europe & Central Asia (IDA & IBRD)",
                "Latin America & Caribbean (IDA & IBRD)",
                "Middle East & North Africa (IDA & IBRD)","South Asia",
                "South Asia (IDA & IBRD)",
                "Sub-Saharan Africa (IDA & IBRD)",
                "Upper middle income", "World"]

In [17]:
wbs = wbs.query("country_name_wb not in @noncountries")
wbs.head()

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1988,MEA,"Middle East, North Africa, Afghanistan & Pakistan",EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.333110,74.972739,75.457246,75.836438,76.294842,76.669647,77.073573,77.371140,77.830324,NaN
1989,MEA,"Middle East, North Africa, Afghanistan & Pakistan",EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.032096,93.436066,95.158765,96.001243,94.970686,96.008707,96.262120,96.416669,95.863795,96.422637
1990,MEA,"Middle East, North Africa, Afghanistan & Pakistan",NY.ADJ.DRES.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.193493,4.914849,4.225768,5.091706,6.852580,5.861698,3.703737,NaN,NaN,NaN
1991,MEA,"Middle East, North Africa, Afghanistan & Pakistan",NY.ADJ.DFOR.GN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.030643,0.030944,0.024049,0.029402,0.018342,0.026897,0.034069,NaN,NaN,NaN
1992,MEA,"Middle East, North Africa, Afghanistan & Pakistan",AG.LND.AGRI.ZS,NaN,28.667018,28.673658,28.704648,28.754769,28.846552,28.866395,...,35.357631,35.363313,35.455332,35.561242,35.563956,35.450367,35.572616,35.521817,36.356812,NaN

In [18]:
wbs['country_name_wb'].unique()

array(['Middle East, North Africa, Afghanistan & Pakistan',
       'Middle East, North Africa, Afghanistan & Pakistan (excluding high income)',
       'Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD)',
       'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis',
       'St. Lucia', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Yemen, Rep.', 'Zambia',
       'Zimbabwe'], dtype=object)

### **Part D**

In [19]:
replace_map = {
  "AG.LND.AGRI.ZS": "agricultural_land",
  "AG.LND.FRST.ZS": "forest_area",
  "AG.PRD.FOOD.XD": "food_production_index",
  "CC.EST": "control_of_corruption",
  "EG.CFT.ACCS.ZS": "access_to_clean_fuels_and_technologies_for_cooking",
  "EG.EGY.PRIM.PP.KD": "energy_intensity_level_of_primary_energy",
  "EG.ELC.ACCS.ZS": "access_to_electricity",
  "EG.ELC.COAL.ZS": "electricity_production_from_coal_sources",
  "EG.ELC.RNEW.ZS": "renewable_electricity_output",
  "EG.FEC.RNEW.ZS": "renewable_energy_consumption",
  "EG.IMP.CONS.ZS": "energy_imports",
  "EG.USE.COMM.FO.ZS": "fossil_fuel_energy_consumption",
  "EG.USE.PCAP.KG.OE": "energy_use",
  "EN.ATM.CO2E.PC": "co2_emissions",
  "EN.ATM.METH.PC": "methane_emissions",
  "EN.ATM.NOXE.PC": "nitrous_oxide_emissions",
  "EN.ATM.PM25.MC.M3": "pm2_5_air_pollution",
  "EN.CLC.CDDY.XD": "cooling_degree_days",
  "EN.CLC.GHGR.MT.CE": "ghg_net_emissions",
  "EN.CLC.HEAT.XD": "heat_index_35",
  "EN.CLC.MDAT.ZS": "droughts",
  "EN.CLC.PRCP.XD": "maximum_5-day_rainfall",
  "EN.CLC.SPEI.XD": "mean_drought_index",
  "EN.MAM.THRD.NO": "mammal_species",
  "EN.POP.DNST": "population_density",
  "ER.H2O.FWTL.ZS": "annual_freshwater_withdrawals",
  "ER.PTD.TOTL.ZS": "terrestrial_and_marine_protected_areas",
  "GB.XPD.RSDV.GD.ZS": "research_and_development_expenditure",
  "GE.EST": "government_effectiveness",
  "IC.BUS.EASE.XQ": "ease_of_doing_business_rank",
  "IC.LGL.CRED.XQ": "strength_of_legal_rights_index",
  "IP.JRN.ARTC.SC": "scientific_and_technical_journal_articles",
  "IP.PAT.RESD": "patent_applications",
  "IT.NET.USER.ZS": "individuals_using_the_internet",
  "NV.AGR.TOTL.ZS": "agriculture",
  "NY.ADJ.DFOR.GN.ZS": "net_forest_depletion",
  "NY.ADJ.DRES.GN.ZS": "natural_resources_depletion",
  "NY.GDP.MKTP.KD.ZG": "gdp_growth",
  "PV.EST": "political_stability_and_absence_of_violence",
  "RL.EST": "rule_of_law",
  "RQ.EST": "regulatory_quality",
  "SE.ADT.LITR.ZS": "literacy_rate",
  "SE.ENR.PRSC.FM.ZS": "gross_school_enrollment",
  "SE.PRM.ENRR": "primary_school_enrollment",
  "SE.XPD.TOTL.GB.ZS": "government_expenditure_on_education",
  "SG.GEN.PARL.ZS": "proportion_of_seats_held_by_women_in_national_parliaments",
  "SH.DTH.COMM.ZS": "cause_of_death",
  "SH.DYN.MORT": "mortality_rate",
  "SH.H2O.SMDW.ZS": "people_using_safely_managed_drinking_water_services",
  "SH.MED.BEDS.ZS": "hospital_beds",
  "SH.STA.OWAD.ZS": "prevalence_of_overweight",
  "SH.STA.SMSS.ZS": "people_using_safely_managed_sanitation_services",
  "SI.DST.FRST.20": "income_share_held_by_lowest_20pct",
  "SI.POV.GINI": "gini_index",
  "SI.POV.NAHC": "poverty_headcount_ratio_at_national_poverty_lines",
  "SI.SPR.PCAP.ZG": "annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income",
  "SL.TLF.0714.ZS": "children_in_employment",
  "SL.TLF.ACTI.ZS": "labor_force_participation_rate",
  "SL.TLF.CACT.FM.ZS": "ratio_of_female_to_male_labor_force_participation_rate",
  "SL.UEM.TOTL.ZS": "unemployment",
  "SM.POP.NETM": "net_migration",
  "SN.ITK.DEFC.ZS": "prevalence_of_undernourishment",
  "SP.DYN.LE00.IN": "life_expectancy_at_birth",
  "SP.DYN.TFRT.IN": "fertility_rate",
  "SP.POP.65UP.TO.ZS": "population_ages_65_and_above",
  "SP.UWT.TFRT": "unmet_need_for_contraception",
  "VA.EST": "voice_and_accountability",
  "EN.CLC.CSTP.ZS": "coastal_protection",
  "SD.ESR.PERF.XQ": "economic_and_social_rights_performance_score",
  "EN.CLC.HDDY.XD": "heating_degree_days",
  "EN.LND.LTMP.DC": "land_surface_temperature",
  "ER.H2O.FWST.ZS": "freshwater_withdrawal",
  "EN.H2O.BDYS.ZS": "water_quality",
  "AG.LND.FRLS.HA": "tree_cover_loss",
}

In [20]:
wbs = wbs.replace(replace_map)
wbs.head()

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1988,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_clean_fuels_and_technologies_for_coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.333110,74.972739,75.457246,75.836438,76.294842,76.669647,77.073573,77.371140,77.830324,NaN
1989,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_electricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.032096,93.436066,95.158765,96.001243,94.970686,96.008707,96.262120,96.416669,95.863795,96.422637
1990,MEA,"Middle East, North Africa, Afghanistan & Pakistan",natural_resources_depletion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.193493,4.914849,4.225768,5.091706,6.852580,5.861698,3.703737,NaN,NaN,NaN
1991,MEA,"Middle East, North Africa, Afghanistan & Pakistan",net_forest_depletion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.030643,0.030944,0.024049,0.029402,0.018342,0.026897,0.034069,NaN,NaN,NaN
1992,MEA,"Middle East, North Africa, Afghanistan & Pakistan",agricultural_land,NaN,28.667018,28.673658,28.704648,28.754769,28.846552,28.866395,...,35.357631,35.363313,35.455332,35.561242,35.563956,35.450367,35.572616,35.521817,36.356812,NaN

## **Problem 3**

### **Part A**

In [21]:
wbs.head()

,country_code,country_name_wb,feature,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1988,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_clean_fuels_and_technologies_for_coo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.333110,74.972739,75.457246,75.836438,76.294842,76.669647,77.073573,77.371140,77.830324,NaN
1989,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_electricity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94.032096,93.436066,95.158765,96.001243,94.970686,96.008707,96.262120,96.416669,95.863795,96.422637
1990,MEA,"Middle East, North Africa, Afghanistan & Pakistan",natural_resources_depletion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.193493,4.914849,4.225768,5.091706,6.852580,5.861698,3.703737,NaN,NaN,NaN
1991,MEA,"Middle East, North Africa, Afghanistan & Pakistan",net_forest_depletion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.030643,0.030944,0.024049,0.029402,0.018342,0.026897,0.034069,NaN,NaN,NaN
1992,MEA,"Middle East, North Africa, Afghanistan & Pakistan",agricultural_land,NaN,28.667018,28.673658,28.704648,28.754769,28.846552,28.866395,...,35.357631,35.363313,35.455332,35.561242,35.563956,35.450367,35.572616,35.521817,36.356812,NaN

In [22]:
wbs.columns[:3]

Index(['country_code', 'country_name_wb', 'feature'], dtype='object')

In [23]:
wbs = pd.melt(wbs,wbs.columns[:3],years)
wbs.head()

,country_code,country_name_wb,feature,variable,value
0,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_clean_fuels_and_technologies_for_coo...,1960,NaN
1,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_electricity,1960,NaN
2,MEA,"Middle East, North Africa, Afghanistan & Pakistan",natural_resources_depletion,1960,NaN
3,MEA,"Middle East, North Africa, Afghanistan & Pakistan",net_forest_depletion,1960,NaN
4,MEA,"Middle East, North Africa, Afghanistan & Pakistan",agricultural_land,1960,NaN

### **Part B**

In [24]:
wbs = wbs.rename({'variable':'year'},axis=1)
wbs.head()

,country_code,country_name_wb,feature,year,value
0,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_clean_fuels_and_technologies_for_coo...,1960,NaN
1,MEA,"Middle East, North Africa, Afghanistan & Pakistan",access_to_electricity,1960,NaN
2,MEA,"Middle East, North Africa, Afghanistan & Pakistan",natural_resources_depletion,1960,NaN
3,MEA,"Middle East, North Africa, Afghanistan & Pakistan",net_forest_depletion,1960,NaN
4,MEA,"Middle East, North Africa, Afghanistan & Pakistan",agricultural_land,1960,NaN

In [25]:
wbs.dtypes

country_code        object
country_name_wb     object
feature             object
year                object
value              float64
dtype: object

In [26]:
wbs = wbs.pivot_table(index=['country_code','country_name_wb','year'], 
                      columns='feature',
                      values='value').reset_index()
wbs.head()

feature,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality
0,AFG,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1961,NaN,NaN,57.878356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1962,NaN,NaN,57.955016,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1963,NaN,NaN,58.031676,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1964,NaN,NaN,58.116002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### **Part C**

In [27]:
wbs['year'] = wbs['year'].astype('int')
wbs.dtypes

feature
country_code                                           object
country_name_wb                                        object
year                                                    int64
access_to_clean_fuels_and_technologies_for_cooking    float64
access_to_electricity                                 float64
                                                       ...
tree_cover_loss                                       float64
unemployment                                          float64
unmet_need_for_contraception                          float64
voice_and_accountability                              float64
water_quality                                         float64
Length: 74, dtype: object

In [28]:
wbs.head()

feature,country_code,country_name_wb,year,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,annual_freshwater_withdrawals,annualized_average_growth_rate_in_per_capita_real_survey_mean_consumption_or_income,cause_of_death,...,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality
0,AFG,Afghanistan,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1961,NaN,NaN,57.878356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1962,NaN,NaN,57.955016,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1963,NaN,NaN,58.031676,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1964,NaN,NaN,58.116002,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
vdems.head()

     country_code country_name_vdem  year  democracy  educational_equality
5491          AFG       Afghanistan  1960      0.082                -1.203
5492          AFG       Afghanistan  1961      0.083                -1.203
5493          AFG       Afghanistan  1962      0.083                -1.203
5494          AFG       Afghanistan  1963      0.086                -1.203
5495          AFG       Afghanistan  1964      0.139                -1.046

## **Problem 4**

### **Part A**

I expect this merge to be one-to-one, because both of the datasets have one row for each country and year combination, so ideally, all of the rows in one should match up to only one row in the other.

### **Part B**

In [30]:
vdwb =  pd.merge(vdems, 
                  wbs,
                  on = ['country_code','year'],
                  how = 'outer',
                  validate = 'one_to_one',
                  indicator = 'matched')

vdwb.head()

,country_code,country_name_vdem,year,democracy,educational_equality,country_name_wb,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,...,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality,matched
0,AFG,Afghanistan,1960,0.082,-1.203,Afghanistan,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
1,AFG,Afghanistan,1961,0.083,-1.203,Afghanistan,NaN,NaN,57.878356,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
2,AFG,Afghanistan,1962,0.083,-1.203,Afghanistan,NaN,NaN,57.955016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
3,AFG,Afghanistan,1963,0.086,-1.203,Afghanistan,NaN,NaN,58.031676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both
4,AFG,Afghanistan,1964,0.139,-1.046,Afghanistan,NaN,NaN,58.116002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both

### **Part C**

In [31]:
vdwb['matched'].value_counts()

matched
both          10320
right_only     2224
left_only       409
Name: count, dtype: int64

In [32]:
# wbs only

wb_merge = vdwb.query("matched == 'right_only'")
wb_merge.groupby(['country_code','country_name_wb']).agg({'year':['min','max']})

                                                                 year
                                                                  min   max
country_code country_name_wb
AND          Andorra                                             1960  2023
ARE          United Arab Emirates                                1960  1970
ARM          Armenia                                             1960  1989
ATG          Antigua and Barbuda                                 1960  2023
AZE          Azerbaijan                                          1960  1989
BGD          Bangladesh                                          1960  1970
BHS          Bahamas, The                                        1960  2023
BIH          Bosnia and Herzegovina                              1960  1991
BLR          Belarus                                             1960  1989
BLZ          Belize                                              1960  2023
BRN          Brunei Darussalam                                   1960  2023
CMR          Cameroon                                            1960  1960
DMA          Dominica                                            1960  2023
EST          Estonia                                             1960  1989
FSM          Micronesia, Fed. Sts.                               1960  2023
GEO          Georgia                                             1960  1989
GRD          Grenada                                             1960  2023
HRV          Croatia                                             1960  1990
KAZ          Kazakhstan                                          1960  1989
KGZ          Kyrgyz Republic                                     1960  1989
KIR          Kiribati                                            1960  2023
KNA          St. Kitts and Nevis                                 1960  2023
LCA          St. Lucia                                           1960  2023
LIE          Liechtenstein                                       1960  2023
LTU          Lithuania                                           1960  1989
LVA          Latvia                                              1960  1989
MCO          Monaco                                              1960  2023
MDA          Moldova                                             1960  1989
MEA          Middle East, North Africa, Afghanistan & Pakistan   1960  2023
MHL          Marshall Islands                                    1960  2023
MKD          North Macedonia                                     1960  1990
MNA          Middle East, North Africa, Afghanistan & Pakist...  1960  2023
MNE          Montenegro                                          1960  1997
NRU          Nauru                                               1960  2023
PLW          Palau                                               1960  2023
SMR          San Marino                                          1960  2023
SSD          South Sudan                                         1960  2010
SVK          Slovak Republic                                     1960  1992
SVN          Slovenia                                            1960  1988
TJK          Tajikistan                                          1960  1989
TKM          Turkmenistan                                        1960  1989
TMN          Middle East, North Africa, Afghanistan & Pakist...  1960  2023
TON          Tonga                                               1960  2023
TUV          Tuvalu                                              1960  2023
UKR          Ukraine                                             1960  1989
UZB          Uzbekistan                                          1960  1989
VCT          St. Vincent and the Grenadines                      1960  2023
WSM          Samoa                                               1960  2023

In [33]:
# vdems only

vdem_merge = vdwb.query("matched == 'left_only'")
vdem_merge.groupby(['country_code','country_name_vdem']).agg({'year':['min','max']})

                                         year
                                          min   max
country_code country_name_vdem
DDR          German Democratic Republic  1960  1990
HKG          Hong Kong                   1960  2023
PSE          Palestine/West Bank         1967  2023
PSG          Palestine/Gaza              1960  2023
SML          Somaliland                  1991  2023
TWN          Taiwan                      1960  2023
VDR          Republic of Vietnam         1960  1975
XKX          Kosovo                      1999  2023
YMD          South Yemen                 1960  1990
ZZB          Zanzibar                    1960  2023

### **Part D**

I do not see any countries that exist in both the World Bank and V-Dems datasets, but aren't matched.

I believe the primary reason there are countries that exist in the V-Dem dataset and not the World Bank one is that there are some countries that are not members of the World Bank or fully members of the World Bank affiliated organizations such as the United Nations and thus, their information is not present in the dataset. Some countries only in the V-Dem dataset are mentioned as non members on the World Bank member Wikipedia page, such as Kosovo, Hong Kong, Palestine, Somaliand, and Taiwan.

I believe the primary reason there are some countries that exist in the World Bank data and not the V-Dem data is that its data comes from World Bank member countries and states, meaning that they have well documented information on them, while the V-Dem dataset relies on the input from several country experts, which can lead them to have missing countries if there are no relevant experts.

### **Part E**

In [34]:
vdwb_final =  pd.merge(vdems, 
                       wbs,
                       on = ['country_code','year'],
                       how = 'inner')

vdwb_final

,country_code,country_name_vdem,year,democracy,educational_equality,country_name_wb,access_to_clean_fuels_and_technologies_for_cooking,access_to_electricity,agricultural_land,agriculture,...,research_and_development_expenditure,rule_of_law,scientific_and_technical_journal_articles,strength_of_legal_rights_index,terrestrial_and_marine_protected_areas,tree_cover_loss,unemployment,unmet_need_for_contraception,voice_and_accountability,water_quality
0,AFG,Afghanistan,1960,0.082,-1.203,Afghanistan,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1961,0.083,-1.203,Afghanistan,NaN,NaN,57.878356,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1962,0.083,-1.203,Afghanistan,NaN,NaN,57.955016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1963,0.086,-1.203,Afghanistan,NaN,NaN,58.031676,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1964,0.139,-1.046,Afghanistan,NaN,NaN,58.116002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10315,ZWE,Zimbabwe,2019,0.292,1.019,Zimbabwe,30.3,46.7,39.518358,9.819260,...,NaN,-1.311041,426.38,6.0,27.2,NaN,7.373,NaN,-1.164831,NaN
10316,ZWE,Zimbabwe,2020,0.294,1.669,Zimbabwe,30.5,52.7,39.754073,8.772859,...,NaN,-1.337362,456.49,NaN,27.2,NaN,8.621,NaN,-1.114599,83.3
10317,ZWE,Zimbabwe,2021,0.289,1.669,Zimbabwe,30.5,49.0,39.385906,8.849899,...,NaN,-1.282122,495.68,NaN,27.2,NaN,9.540,NaN,-1.141045,NaN
10318,ZWE,Zimbabwe,2022,0.286,1.617,Zimbabwe,30.8,50.1,39.489284,7.170550,...,NaN,-1.237028,563.05,NaN,27.2,NaN,10.087,NaN,-1.109503,NaN
10319,ZWE,Zimbabwe,2023,0.291,0.564,Zimbabwe,NaN,62.0,NaN,4.108254,...,NaN,-1.277143,NaN,NaN,28.3,NaN,8.759,NaN,-1.092633,NaN

## **Problem 5**

### **Part A**

In [35]:
vdwb_final.groupby('country_name_vdem').agg({'democracy':'mean'}).sort_values(by='democracy',ascending=False)

                      democracy
country_name_vdem
Denmark                0.911813
Sweden                 0.886156
Germany                0.876188
Belgium                0.872016
Luxembourg             0.870938
...                         ...
Eritrea                0.081562
Oman                   0.067328
United Arab Emirates   0.043566
Qatar                  0.026281
Saudi Arabia           0.015422

[172 rows x 1 columns]

The 5 countries with the highest average levels of democracy are Denmark, Sweden, Germany, Belgium, and Luxembourg, respectively. The 5 countries with the lowest average levels of democracy are Saudi Arabia, Qatar, United Arab Emirates, Oman, and Eritrea, respectively.

### **Part B**

In [36]:
vdwb_final['educational_equality'] = pd.cut(vdwb_final.educational_equality, 
                                           bins=[-4,-2,-0.5,0.5,1.5,4],
                                           labels = ('extremely unequal','very unequal',
                                                     'somewhat unequal','relatively equal',
                                                     'equal'))
    
vdwb_final.groupby('educational_equality').agg({'gini_index':'mean',
                                                'poverty_headcount_ratio_at_national_poverty_lines': 'mean'})

,gini_index,poverty_headcount_ratio_at_national_poverty_lines
educational_equality,,
extremely unequal,42.159091,59.322222
very unequal,45.627848,39.828017
somewhat unequal,43.250211,23.115126
relatively equal,36.496846,21.569167
equal,32.535973,17.419722

Based on the table, it seems that as educational equality increases in the countries, the economic inequality decreases as well as the proportion of the population living in poverty. Basically, the more people are given a high quality basic education within the countries, the less of an economic disparity there is betwen the rich and the poor and the less people living in poverty.